.footer {
    padding: 30px;
    text-align: center;
    background: #a6995c;
    color: white;
    font-size: 30px;
    bottom: 0;
    position: absolute;
    width: 100vw;
    box-sizing: border-box
  }
.footer div {
    padding: 0 2rem;
    margin: 0;
    display: inline-block;
}